/target/

/TDB/
/TDB_test/
/TDB_mappings/
/TDB_filters/

/TDB_user/
/TDB_mappings_curator/
/TDB_filters_curator/
/TDB_sources_original/tdb.lock

/output.txt

*target*
*.jar
*.war
*.ear
*.class
*.rdf

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/bin/
